<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <h5 class="text-center">Días de avancé</h5>
      <div class="row col-10 col-sm-7 col-lg-6 col-xl-12 mx-auto border border-black rounded-5 p-2 px-3 mb-4">
        <div class="col-1 m-2 m-sm-1  p-1 rounded-circle d-flex justify-content-center align-items-center"
          [ngClass]="{'racha': racha.Lunes, 'dia': !racha.Lunes}">L</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Martes, 'dia': !racha.Martes}">M</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Miercoles, 'dia': !racha.Miercoles}">M</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Jueves, 'dia': !racha.Jueves}">J</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Viernes, 'dia': !racha.Viernes}">V</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Sabado, 'dia': !racha.Sabado}">S</div>
        <div class="col-1 m-2 m-sm-1 p-1 rounded-circle d-flex justify-content-center align-items-center "
          [ngClass]="{'racha': racha.Domingo, 'dia': !racha.Domingo}">D</div>
      </div>

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="{{user.foto}}" alt="Profile" class="rounded-circle perfil">
          <h2>{{user.nombre}}</h2>
          <div class="ps-5 ">
            <p class="my-1 w-full ">
              <img class="icono-menu" src="../../../../assets/icono_reloj.svg" alt="">
              Se unió el {{user.registro}}
            </p>
            <p class="my-1 w-full ">
              <img class="icono-menu" src="../../../../assets/icono_email_black.svg" alt="">
              {{user.correo}}
            </p>
          </div>
          <a class="btn my-3 p-2 text-white actualizar" data-bs-toggle="modal" data-bs-target="#exampleModal">Actualizar
            mi información</a>

        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <div class="row g-0" *ngFor="let lenguaje of progreso">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="{{lenguaje.lenguajeLogo}}" class="img-fluid rounded-start leng" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{lenguaje.lenguajeNombre}}</h5>
                <div class="progress mt-3">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    [style.width.%]="lenguaje.progresoLenguaje" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100">{{lenguaje.progresoLenguaje}}%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background-color: #4c428c;"><i
    class="bi bi-arrow-up-short"></i></a>
<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar perfil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-10 col-md-12 d-flex flex-column align-items-center justify-content-center">

            <div class="card rounded-5">
              <div class="row">
                <div class="col-12">
                  <div class="card-body">
                    <div class="pt-1 pb-2">
                      <h5 class="card-title text-center py-0 fs-4">Actualizar mis datos</h5>
                    </div>
                    <form class="row g-1 needs-validation">
                      <div class="col-12 card p-3">
                        <label for="yourName" class="form-label">Nombre:</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]="nombre"
                          style="background-color: #ECDEF2;">
                        <label for="yourName" class="form-label">Foto:</label>
                        <input type="file" name="name" class="form-control" id="fotoInput"
                          style="background-color: #ECDEF2;">
                        <div class="d-flex justify-content-end my-1">
                          <button type="button" class="btn btn-primary w-full" (click)="cambiarFoto()">Actualizar información</button>
                        </div>
                      </div>

                      <form [formGroup]="frmPass" class="col-12 card p-3">
                        <label for="yourPassword" class="form-label">Contraseña:</label>
                        <input formControlName="password" type="password" name="password" class="form-control"
                          id="yourPassword" required style="background-color: #ECDEF2;">
                        <label for="yourPassword" class="form-label">Confirmar contraseña:</label>
                        <input type="password" formControlName="ConfiPassword" class="form-control" id="yourPassword"
                          required style="background-color: #ECDEF2;">
                        <div class="d-flex justify-content-end my-1">
                          <button type="button" class="btn btn-primary w-full" (click)="cambiar()">Actualizar
                            contraseña</button>
                        </div>
                      </form>

                    </form>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
      </div> -->
    </div>
  </div>
</div>