<div class="fondo">
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 col-md-8 d-flex flex-column align-items-center justify-content-center">
  
                <div class="card mb-3 rounded-5 p-5">
  
                  <div class="card-body">
  
                    <div class="d-flex justify-content-center">
                      <img class="logo mb-3" src="../../../assets/logo_SaddWy_black.svg" alt="">
                    </div><!-- End Logo -->
  
                    <div class="pb-2">
                     
                      <h5 class="card-title text-center pb-0 fs-4">Vamos a buscar tu cuenta de SaddWy</h5>
                    </div>
  
                    <form class="row g-3 needs-validation" novalidate>
  
                      <div class="col-12">
                        <label for="yourUsername" class="form-label">Ingrese el correo electrónico que tiene vinculado con
                          SaddWy</label>
                        <form [formGroup]="formCorreo" class="input-group has-validation">
                          
                          <input formControlName="correo" type="email" class="form-control"  
                            style="background-color: #ECDEF2;">
                        </form>
                      </div>
  
                      <div class="col-12 col-md-10 mx-md-auto">
                        <button (click)="recuperar()" class="btn w-100 text-white rounded-5 iniciar-sesion" type="submit">
                          Enviar correo de recuperación
                        </button>
                      </div>
                    </form>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </section>
  
      </div>
</div>
