.icono-menu {
    width: 10%;
    margin-right: 3%;
}

.sid {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}
li{
    cursor: pointer;
}
.activo{
    border: solid 1px white;
    border-radius: 15px;
    background-color: #6055a9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navItem{
    border: solid 1px;
    border-color: transparent;
    
}
.navItem:hover{
    border-radius: 15px;
    background-color: #6055a9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.buscador{
    border-color: rgb(216, 216, 216);
    border-radius: 10px;
}
