<div>

    <header id="header" class="header fixed-top d-flex align-items-center justify-content-between z-1">

        <img (click)="mostrar()" src="../../../../assets/icono_hamburguesa.svg" class="icono-menu" alt="">
        <!-- <div class="d-flex ps-4">
            <input (input)="buscar($event)" [(ngModel)]="buscador" (blur)="ocultarResultados()" class="w-100 form-control" type="text" name="query" placeholder="Buscar" title="Enter search keyword" class="rounded-5">
        </div> -->
        <div class="search-bar position-relative" *ngIf="barra">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input (input)="buscar($event)" [(ngModel)]="buscador" (blur)="ocultarResultados()" class="w-100" type="text" name="query" placeholder="Buscar" title="Enter search keyword" class="rounded-5">
                <button type="submit" title="Search">
                    <img class="icono-men" src="../../../../assets/icono_buscar.svg" alt="">
                </button>
            </form>
            <ul  class="list-group position-absolute b-0 w-100">
                    <li (click)="verNiveles(len.nombre)" *ngFor="let len of filtro"  class="list-group-item">{{len.nombre}}</li>
              </ul>
        </div><!-- End Search Bar -->
       
        <nav class="header-nav">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block ">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <img class="icono-men" src="../../../../assets/icono_buscar.svg" alt="">
                    </a>
                </li>

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{user.foto}}" alt="Profile" class="rounded-circle"
                            style="width: 36px;">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.nombre}}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a (click)="loyaut()" class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span >Cerrar sesión</span>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>

    </header>
    <aside id="sidebar" [ngClass]="saibar ? 'd-none':''" class="sid navegation z-3  d-lg-block">
        <ul class="sidebar-nav" id="sidebar-nav">
            <img src="../../../../assets/icono_cerrar.svg" (click)="mostrar()"   class="d-block d-lg-none icono-menu" >
            <img class="logo img-fluid mb-5" src="../../../../assets/logo_SaddWy_white.svg" alt="">
            <li class="nav-item mb-5" (click)="mostrar()">
                <a class="nav-link collapsed" routerLink="principal" style="background-color: transparent">
                    <img class="icono-menu" src="../../../../assets/icono_inicio_white.svg" alt="">
                    <span class="text-white">Inicio</span>
                </a>
            </li>
            <li class="nav-item my-5" (click)="mostrar()">
                <a class="nav-link collapsed" routerLink="perfil" style="background-color: transparent">
                    <img class="icono-menu" src="../../../../assets/icono_perfil_white.svg" alt="">
                    <span class="text-white">Perfil</span>
                </a>
            </li>
            <li class="nav-item my-5" (click)="mostrar()">
                <a class="nav-link collapsed" routerLink="contacto" style="background-color: transparent">
                    <img class="icono-menu" src="../../../../assets/icono_email_white.svg" alt="">
                    <span class="text-white">Contáctenos</span>
                </a>
            </li>
            <li class="nav-item my-5" (click)="mostrar()">
                <a class="nav-link collapsed" routerLink="ranking" style="background-color: transparent">
                    <img class="icono-menu" src="../../../../assets/icono_ranking_white.svg" alt="">
                    <span class="text-white">Ranking</span>
                </a>
            </li>
            <li class="nav-item my-5" (click)="mostrar()">
                <a class="nav-link collapsed" routerLink="manual" style="background-color: transparent">
                    <img class="icono-menu" src="../../../../assets/icono_manual_white.svg" alt="">
                    <span class="text-white">Manual</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main bg-light">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </main>
    <app-footer></app-footer>
</div>
