<section class="section">
    <div class="row mb-5 px-5 ">
      <div class="card-principal col-12 card mb-5 rounded-5 mt-5">
        <div class="row g-0" style="position: relative;">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">¡Programa tu futuro desde cero
                <br>
                con SaddWy
              </h5>
              <p class="card-text">¿Que quieres aprender hoy?</p>
            </div>
          </div>
          <div class="col-md-4 contenedor-img-realidadVirtual">
            <img src="../../../../assets/inicio.svg" class="img-realidadVirtual" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #A6CAFF;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/java.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #87B7FE;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">Java</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn btn-java border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn btn-java border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn btn-java border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
      <!-- python -->
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #518DE3;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/python.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #4F60F3;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">Python</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn-python border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn-python border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn-python border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
      <!-- js -->
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #fdffb2;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/javaScript.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #fdffc7;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">JavaScript</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn-javaScript border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn-javaScript border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn-javaScript border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
      <!-- C Sharp -->
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #a054ff80;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/cSharp.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #dcc2fe;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">C Sharp</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn-c border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn-c border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn-c border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
      <!-- php -->
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #b8d5ff;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/php.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #c3dcff;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">PHP</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn-php border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn-php border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn-php border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
      <!-- Swift -->
      <div class="col-7 col-md-4 col-lg-3 mx-3 mb-5 p-0">
        <div class="card position-relative rounded-4" style="background-color: #ef923c;">
          <a class="bola position-absolute " href="">
            <img src="../../../../assets/swift.svg" class="card-img-top rounded-circle iconos p-3"
              style="background-color: #fea554;" alt="...">
          </a>
          <h5 class="card-title mt-4 pb-0 ms-3">Swift</h5>
          <div class="card-body d-flex align-items-center flex-column">
            <button type="button" class="btn btn-swift border-0 ">
              <p class="textos-carta">Nivel 1: Variables</p>
            </button>
            <button type="button" class="btn btn-swift border-0">
              <p class="textos-carta">Nivel 2: Condicionales</p>
            </button>
            <button type="button" class="btn btn-swift border-0">
              <p class="textos-carta">Nivel 3: Bucles</p>
            </button>
          </div>
        </div><!-- End Card with an image on top -->
      </div>
    </div>
  </section>
