.fondo_atras {
    background: radial-gradient(249.51% 131.7% at 100% 90.72%, #602160 0%, #280652 76.04%);
    height: 100vh;
    overflow: hidden;
}

.fondo_delante {
    background: white;
    border-radius: 40px;
}

.formulario {
    background-color: #ECDEF2;
    border-radius: 40px 40px 40px 40px;
}

.iniciar-sesion {
    background-color: #7757A0;
}

.iniciar-sesion:hover {
    background-color: #9A3A99;
}

.linea {
    width: 42%;
    height: 2px;
    margin-top: 4%;
    background-color: black;
}


.eyeicon{
    height: auto;
    width: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 40px;
}

@media screen and (min-width: 992px) {
    .imagen {
        width: 350px;
    }

    .fs-lg-custom {
        font-size: 1.9rem;
    }

    .letra {
        font-size: 1.2rem;
    }

    .formulario {
        border-radius: 0px 40px 40px 0px
    }
}