.btn2{
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: #3D9DF2;
    color: white;
    font: bold;
    transition: 200ms;
}
.btn2:hover{
    background-color: #4696db;
}