<div class="bg-light">

    <section class=" section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 d-flex flex-column align-items-center justify-content-center">

                    <div class="shadow card mb-3 p-5 rounded-5">
                        <div class="row">
                            <div class="col-md-6  d-flex align-items-center flex-column">
                                <h5 class="p-4 card-title text-black fs-2">
                                    Contáctanos
                                </h5>
                                <p class="">
                                    Estamos aquí para escucharte.
                                    Comunícanos tu queja, reclamo o sugerencia para ayudarnos a mejorar.
                                </p>
                               <div class="row w-100 pt-5">
                                <h5>Correo electrónico</h5>
                                <div class="d-flex">
                                    <img class="m-1" alt="icono">
                                    <p class="m-1"> saddwy2003@gmail.com</p>
                                </div>
                                <h5>Telefono</h5>
                                <div class="d-flex">
                                    <img class="m-1" alt="icono">
                                    <p class="m-1">(+57) 3227822973</p>
                                </div>
                                <h5>Sitio web</h5>
                                <div class="d-flex">
                                    <img class="m-1" alt="icono">
                                    <p class="m-1">SaddWy</p>
                                </div>
            
                               </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">

                                    <form  class="row g-3 needs-validation" novalidate>
                                        <div class="col-12">
                                            <label for="yourName" class="form-label">Tu nombre:</label>
                                            <input type="text" name="name" class="form-control" id="yourName"
                                                required style="background-color: #ECDEF2;"
                                                >
                                        </div>
                                        <div class="col-12">
                                            <label for="yourName" class="form-label">Tu numero telefónico:</label>
                                            <input type="number" name="name" class="form-control" id="yourName"
                                                required style="background-color: #ECDEF2;"
                                                >
                                        </div>

                                        <div class="col-12">
                                            <label for="yourEmail" class="form-label">Tu correo electrónico:</label>
                                            <input type="email" name="email" class="form-control" id="yourEmail"
                                                required style="background-color: #ECDEF2;"
                                                >
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Tu mensaje:</label>
                                            <textarea class="form-control" style="background-color: #ECDEF2;"
                                                name="" id="" cols="30" rows="8">
                                            </textarea>

                                        </div>
                                        <div class="col-8 col-sm-7 col-md-7 mx-auto">
                                            <button class="btn2  w-100 text-white iniciar-sesion rounded-5"
                                                >
                                                Enviar mensaje
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
