<div class="fondo">
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3 rounded-5 p-5">

              <div class="card-body">

                <div class="d-flex justify-content-center py-4">
                  <img class="logo mb-3" src="ilustrasiones/logo_SaddWy_black.svg" alt="">
                </div><!-- End Logo -->

                <form class="row g-3 needs-validation" novalidate>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Nueva contraseña:</label>
                    <div class="input-group has-validation">
                      <input type="password" name="username" class="form-control" id="yourUsername" required
                        style="background-color: #ECDEF2;">
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Confirme la contraseña:</label>
                    <input type="password" name="password" class="form-control" id="yourPassword" required
                      style="background-color: #ECDEF2;">
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>

                  <div class="col-12 col-md-8 mx-md-auto">
                    <button class="btn w-100 text-white rounded-5 iniciar-sesion" type="submit">Cambiar
                      contraseña</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</div>