<div class="container">
    <div class="d-flex justify-content-end">
        <button routerLink="/admin/agregar" class="btn btn-primary my-2">Agregar evalución</button>
    </div>
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad preguntas</th>
                <th scope="col">Lenguaje</th>
                <th scope="col">Acciones</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Prueba nivel 1</td>
                <td>10</td>
                <td>Java</td>
                <td>
                    <button class="btn btn-danger mx-1">eliminar</button>
                    <button class="btn btn-warning mx-1">editar</button>
                </td>
              </tr>
        </tbody>
      </table>
</div>
