<div class="container-fluid">
    <div id="menu"
        class="row d-none d-md-none d-lg-flex  col-8 col-md-4 col-lg-2  p-0 text-white menu fs-4  flex-column">
        <div class="row my-2 mb-4 d-flex justify-content-center align-items-end" style="height: 60px;">
            <button id="cerrar" class="d-lg-none btn m-0 cerrar-menu"><img src="../../Img/bar-de-hamburguesas.png"
                    alt=""></button>
            <img class="logo mt-4" style="height: 60px; width: auto;"
                src="../../Img/corrección de imaganes/logo_SaddWy_white.svg" alt="">
        </div>
        <ul>
            <li class="my-5 item d-flex align-items-center justify-content-center">
                <a href="./Principal.html" class=" my-4 ms-5 text-white items_menu d-flex align-items-center">
                    <img class="mx-1" src="../../Img/Ilustraciones_temporales/icono_inicio_white.svg" width="10%">
                    Inicio
                </a>
            </li>
            <li class="my-5 item d-flex align-items-center ">
                <a href="Perfil.html" class="my-4 ms-5 text-white items_menu d-flex align-items-center"><img
                        class="mx-1" style="height: 20px; width: 20px;"
                        src="../../Img/Ilustraciones_temporales/icono_perfil_white.svg" width="10%"> Perfil</a>
            </li>
            <li class="my-5 item d-flex align-items-center justify-content-center">
                <a href="" class="my-5 ms-5 text-white items_menu d-flex align-items-center"><img class="mx-1"
                        src="../../Img/Ilustraciones_temporales/icono_email_white.svg" width="10%">
                    Contactenos</a>
            </li>
            <li class="my-5 item d-flex align-items-center justify-content-center">
                <a href="Ranking.html" class="my-4 ms-5 text-white items_menu d-flex align-items-center"><img
                        class="mx-1" src="../../Img/Ilustraciones_temporales/icono_ranking_white.svg" width="10%">
                    Ranking</a>
            </li>
            <li class="my-5 item d-flex align-items-center justify-content-center">
                <a href="./manual.html" class="my-4 ms-5 text-white items_menu d-flex align-items-center"><img
                        class="mx-1" src="../../Img/Ilustraciones_temporales/icono_manual_white.svg" width="10%">
                    Manual</a>
            </li>
        </ul>
    </div>
    <nav class="row p-2 d-flex justify-content-between">
        <div class="col order-1 order-md-1 col-md-1">
            <button id="abrir" class="btn abrir-menu"><img src="../../Img/bar-de-hamburguesas.png"></button>
        </div>
        <div class="col-12 order-3 order-md-2 col-md-7 col-lg-5 busqueda ">
            <form class="col-9 my-1 position-relative" role="search">
                <input class="form-control input_buscar" type="search" placeholder="Buscar" aria-label="Search">
                <button class=" position-absolute end-0 top-0 border-0" style="background-color: transparent;">
                    <img src="../../Img/SaddWy_ilustraciones/Svg/icono_buscar.svg" class="img-fluid w-7 mt-2 me-2"
                        style="width: 20px; height: auto;">
                </button>
            </form>
        </div>
        <div class="col-6 order-2 order-md-3 col-md-3 col-lg-2">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../Img/SaddWy_ilustraciones/Svg/icono_perfil.svg" class="foto_perfil"
                        alt="Foto del usurio">
                    Tatiana Charry
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item" href="../../index.html">Cerrar sesión</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-12 ms-5">

    </div>
</div>