<div class="container-fluid fondo">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center mx-lg-4 py-5">
      <div class="container-fluid">
        <div class="card px-3 rounded-5 col-12"
          style="background: linear-gradient(113deg, rgba(91, 29, 151, 0.90) -0.15%, #9A3A99 88.91%);">

          <div class="card-body p-0">
            <div class="row d-flex align-items-center my-3">
              <img class="col-3 col-md-2 p-0 ms-5 mt-2 mt-lg-5" src="../../../assets/logo_SaddWy_white.svg" alt="" style="width: 240px;">
              <a class="col-5 col-md-2 ms-auto text-white text-end inicio-sesion" routerLink="login">Iniciar sesión</a>
              <a class="col-5 col-md-2 ms-3 text-white inicio-sesion" routerLink="sing-up">Registrarme</a>
            </div>
            <div class="row">
              <div class="col-12 col-md-5 px-2 p-lg-5">
                <h2 class="text-white ms-5 mb-3 fs-1 fw-bold">¡Hola mundo!</h2>
                <hr class="col-10 col-lg-6 my-2">
                <p class="text-white text-start fs-5">
                  ¡Bienvenido a nuestro portal de programación! Aquí, te ayudaremos a convertirte en un experto en
                  programación, ofreciéndote un amplio mundo de conocimiento. Prepárate para desafiar tu mente, dar
                  vida a tus ideas y escribir el futuro, línea por línea.
                </p>
              </div>
              <div class="col-12 col-md-7 p-0 d-flex align-items-center">
                <img class="text-center mx-auto" src="../../../assets/foto-fondo.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>