
<div class="body">
    <div class="contenedor-delantero">
        <div class="header-saddwy">
            <img class="imagen-logo" src="../../../assets/logo_SaddWy_white.svg" alt="">
            <a class="inicio-sesion" routerLink="login">Iniciar sesión</a>
            <a class="registro" routerLink="sing-up" >Registrarme</a> 
        </div>
        <div class="cuerpo">
               <div class="bienvenido">
                <h2 class="letra-titulo">Hello World!</h2>
                <hr>
                <p class="letra-parrafo">
                    ¡Bienvenido a nuestro portal de programación! Aquí, te ayudaremos a convertirte en un
                    experto en programación, ofreciéndote un amplio mundo de conocimiento. Prepárate para
                    desafiar tu mente, dar vida a tus ideas y escribir el futuro, línea por línea.
                </p>
            </div>
            <div class="contenedor-foto">
                <img class="img-muñeca" src="../../../assets/foto-fondo.svg" alt="">
            </div> 
        </div>
    </div>
</div>