<div class="container">
   <h2>Usuarios</h2>
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad preguntas</th>
                <th scope="col">Lenguaje</th>
                <th scope="col">Acciones</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Prueba nivel 1</td>
                <td>10</td>
                <td>Java</td>
                <td>
                    <button class="btn btn-danger mx-1">eliminar</button>

                </td>
              </tr>
        </tbody>
      </table>
</div>

