.ranking {
    border: 1px solid #4c428c;
    color: #4c428c;
}

.guia-podio{
    width: 70%; 
    height: 2px; 
    background-color: #4C428C;
}
.borde-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 10px solid #4C428C;
}
.primeros{
    background-color: #F1E9FC;
    border: 2px solid #4696db;
    box-shadow: 1px 1px 2px 1px rgba(161, 161, 161, 0.5);
}
.puestos{
    background-color: #F1E9FC;
}
.altura{
    height: 80vh;
}
@media (max-width: 768px) {
    .guia-podio{
        width: 60%;
    }
}