<footer id="footer" class="footer">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-lg-4 mx-5">
        <img class="img-fluid w-50" src="../../../assets/logo_SaddWy_black.svg" alt="">
        <p class="py-2 text-start pe-5">Descubre tu pasión por la programación con SaddWy. ¡Únete a nosotros y haz que
          la programación
          sea parte de tú
          éxito!</p>
      </div>
      <div class="col-lg-4 mx-5 d-flex px-5 h-25">
        <img src="../../../assets/QrFinal.png"  style="height: 150px; width: 150px;">
      </div>
    </div>
  </footer>
