<footer id="footer" class="footer">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-lg-4 mx-5">
          <div class="copyright" style="font-size: 10px;">
            &copy; Copyright <strong><span>SaddWy</span></strong>. Todos los recehos reservados
          </div>
          <div class="credits py-2" style="font-size: 10px;">
            El contenido de este sitio web, incluyendo texto, gráficos, logotipos, imágenes, y otros materiales, está protegido por derechos de autor y otras leyes de propiedad intelectual. Queda prohibida la reproducción, distribución, modificación o utilización de cualquier contenido de este sitio sin el consentimiento previo por escrito de SaddWy.
          </div>
      </div>
      <div class="col-lg-4 mx-5 d-flex flex-column px-5 h-25">
        <p class="copyright">Descarga nuestra app</p>
        <img src="../../../assets/QrFinal.png"  style="height: 150px; width: 150px; margin-left: 70px;">
      </div>
    </div>
  </footer>
